@font-face{
    font-family:Assistant;
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtrhnEGE.ttf) format('truetype')
}
